<div ng-controller="gameController" id="game">
	<p class="lead">Choose a Level</p>
	<p>The higher the level, the more points you earn.</p>
	<div class="levels">
		<div class="level">Basic</div>
		<div class="level">Intermediate</div>
		<div class="level">Advanced</div>
	</div>

	<game challenges="challenges"></game>
</div>