<% if !current_user %>
	<div class="intro">
		<h1><span class="logo">TRAIN RUSH</span></h1>

		<p class="lead">Can you beat the train?<br>Or will the train beat you?<p>

		<div class="signin lead"><a href="/auth/facebook">PLAY!<br><small>Log in with Facebook</small></a></div>
	</div>
	<% else %>

	<%= render 'game' %>


<% end %>
